.main-form{
    
    display: flex;
    flex-direction: column;
}

.contact-form{
    background-image: url(../images/wallpaper.jpg);
    padding: 100px;
}
.mrgin{
    padding: 8px;
    border: none;
    border-radius: 8px;
    outline: none;
    margin-bottom: 15px;
}
label{
    color: #ffffff;
}
