@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');

.paragraph1 {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.section_2 { /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ec2f4b,
    #009fff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
}
.left{
    padding: 70px;
}
.right{
    padding-top: 80px;
}
.m-20 {
  margin-top: 15px;
}
.main-page {
  position: absolute;
  left: 30px;
  right: 30px;
}
.heading-m{
    font-size: 20px;
    font-family: 'Azeret Mono', monospace;
}
a button {
    padding: 6px 20px;
    margin-top: 15px;
    background-color: tomato;
    outline: none;
    border: none;
    transition: 0.5s;
    box-shadow: 1px 2px 5px white;
    font-size: 15px;
    color: white;
    background-color: tomato;
}
a button:hover{
    font-size: 20px;
    color: white;
    background-color: tomato;
}
